{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <div class="row justify-content-between">
            <article class="col-5">
                <h2 class="text-light py-2">{{movie.title}}</h2>
                <fieldset>
                    <form action="/favorites" method="POST">
                        <input type="hidden" name="movie" value="{{ movie.id }}">
                        <button type="submit" class="btn btn-outline-warning" >Add to Favorites</button>
                    </form>
                </fieldset>
                </h6>
                <h6 class="text-light pt-3">Date(Released): 
                    <p class="text-light-emphasis py-1">{{movie.date}}</p>
                </h6>
                <h6 class="text-light">Genre: 
                    <p class="text-light-emphasis py-1">{{movie.genre}}</p>
                </h6>
                <h6 class="text-light">Director: 
                    <p class="text-light-emphasis py-1">{{movie.director}}</p>
                </h6>
                <h6 class="text-light">Cast: 
                    <p class="text-light-emphasis py-1">{{movie.cast}}</p>
                </h6>
                <h6 class="text-light"> 
                    Movie Info: <br>
                    <p class="text-light-emphasis py-2">{{movie.description}}</p>
                </h6>
                {% if movie.owner == userId %}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <a href="/movies/edit/{{movie.id}}" class="btn btn-outline-warning md-3">Edit Info
                            </a>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <form action="/movies/{{movie.id}}?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-outline-danger" value="Delete {{movie.title}}">
                            </form>
                        </div>
                    </div>
                {% endif %}
            </article>
        </div>
        <hr class="text-warning">
        <h5 class="text-light">Comments</h5>
        <hr class="text-warning">
        {% if loggedIn %}
                <div class="col-md-6">
                    <form action="/comments/{{ movie.id }}" method="POST">
                        <fieldset>
                            <label class="form-label text-light">write a comment: </label>
                            <input type="text" name="note" class="form-control mb-1">
                        </fieldset>
                        <div class="pt-2">
                            <input type="submit" class="btn btn-outline-warning" value="add comment">
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="col-md-6">
                    <small class="text-light">To leave a comment, please log in...</small>
                </div>
            {% endif %}
            <hr class="text-warning">
            {% if movie.comments.length > 0 %}
                <div class="container-sm justify-content-center text-light">
                    {% for comm in movie.comments %}
                        {% render '../comment.liquid', comm: comm, userId: userId, movie: movie %}
                    {% endfor %}
                </div>
            {% else %}
                <small class="text-light">no comments yet...</small>
            {% endif %}
    </div>
{% endblock %}