{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/movies/{{movie.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend class="text-warning">Edit Movie</legend>
            <label class="text-light form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ movie.title }}"
                required value="{{ movie.title }}"
                class="form-control"
            >
            <label class="text-light form-label pt-3">Release Date:</label>
            <input 
                type="number" 
                name="date"
                required value="{{ movie.date }}"
                class="form-control"
            >
            <label class="text-light form-label pt-3">Genre:</label>
            <input 
                type="text" 
                name="genre" 
                placeholder="{{ movie.genre }}" 
                required value="{{ movie.genre }}" 
                class="form-control"
            >
            <label class="text-light form-label pt-3">Director:</label>
            <input 
                type="text" 
                name="director"
                required value="{{ movie.director }}"
                class="form-control"
            >
            <label class="text-light form-label pt-3">Cast:</label>
            <input 
                type="text" 
                name="cast"
                required value="{{ movie.cast }}"
                class="form-control"
            >
            <label class="text-light form-label pt-3">Synopsis:</label>
            <input 
                type="text" 
                name="description"
                required value="{{ movie.description }}"
                class="form-control"
            >
        </fieldset>
        <div class="class pt-3">
            <input type="submit" value="Edit Movie" class="btn btn-outline-warning" value="Edit {{movie.name}}">
            <a href="/movies/{{ movie.id }}" class="btn btn-outline-warning">Back</a>
        </div>
    </form>
</div>
{% endblock %}